[Desktop Entry]
Type=Application
Name=RPCS3
Comment=RPCS3 is a multi-platform open-source Sony PlayStation 3 emulator
Icon=/home/fanatyk/.local/app/appicons/rpcs3.png
Exec=/home/fanatyk/bin/rpcs3
Terminal=false
NoDisplay=false
X-GNOME-UsesNotifications=false
Categories=Game;
